.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
    font-weight: 400;
}
.navbar-brand {
    font-size: 42px;
    font-weight: 700;
}
.back-ground {
    background-color: red;
}
@media only screen and (min-width: 600px){
    .carousel-item {
        height: 500px;
    }
}
